.card {
  padding-top: 10px;
  text-align: center;
  border: 1px solid black;
  height: 300px;
  width: 200px;
  img {
    width: 90%;
    height: auto;
  }
}

.card-holder {
  display: flex;
  gap: 20px;
  flex-flow: column;
}