:root {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b9b28a;
  color: #161510;
}
.top {
  text-align: center;
}
#todo-input {
  width: 180px;
  margin-right: 10px;
}
.top .button {
  border: 1px solid rgb(44, 40, 40);
  border-radius: 10px;
  font-size: 1.3em;
  background-color: #ebe5c2;
  color: #161510;
}

.cards {
  margin: 30px 0 0 0;
  font-size: 1.3em;
}
li {
  margin-top: 10px;
  width: 50vw;
}
.list-item {
  border: 1px solid rgb(44, 40, 40);
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto 60px 50px;
  grid-template-rows: 30px 30px;
}
.list-item span{
  align-self: center;
  margin-left: 5px;
  text-overflow: clip;
}
.list-item span {
  grid-column: 1;
  grid-row: 1 / span 2;
  border-radius: 5px;
}
.delete-button {
  background-color: #ebe5c2;
  border: 1px solid rgb(44, 40, 40);
  grid-row: 1 / span 2;
  margin: 5px;
  border-radius: 5px;
}
.move-button {
  background-color: #ebe5c2;
  border: 1px solid rgb(44, 40, 40);
  margin: 3px;
  padding: 0;
  border-radius: 5px;
}
